@(products: List[Product])

@main("Products Catalogue") {

    <h2>All Products</h2>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>EAN</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @for(product <- products) {
        <tr>
            <td><a href="@routes.Products.details(product.ean)">@product.ean</a></td>
            <td><a href="@routes.Products.details(product.ean)">@product.name</a></td>
            <td><a href="@routes.Products.details(product.ean)">@product.description</a></td>
            <td>
                <a href="@routes.Products.details(product.ean)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a onclick="del('@routes.Products.delete(product.ean)')"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
    </table>

        <a href="@routes.Products.newProduct()" class="btn btn-default"><i class="icon-plus"></i> New Product</a>

}